.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: var(--secondary-color);
  background-color: var(--surface-primary-color);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1168px;
  margin: 0 auto;
  width: 100%;
  padding: 64px 0;
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__socials {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer__personality {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 32px;
  padding: 16px 0;
  border-top: 1px var(--secondary-color) solid;
}

.footer__personality-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer__personality-copy-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer__personality-privacy {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .footer__socials {
    flex-wrap: wrap;
  }

  .footer__info {
    padding: 48px 32px;
  }

  .footer__personality {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    padding: 16px 32px 0;
  }

  .footer__personality-copy {
    grid-column: span 2 / span 2;
  }
}

@media screen and (max-width: 480px) {
  .footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer__info-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__personality {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
