:root {
  --primary-color: #ffff;
  --secondary-color: #a6a6a6;
  --surface-primary-color: #212121;
  --surface-tertiary-color: #f8f8f8;
  --primary-text-color: #000000;
  --tertiary-color: #575757;
  --quartuary-color: #3a3a3a;
  --disabled-color: #b3b3b3;
  --border-color: #cccccc;
  --accent-color: #69b42e;
  --error-color: #d02224;
  --text-secondary-color: #666666;

  --text-xl: 64px;
  --text-lg: 40px;
  --text-md: 24px;
  --text-sm: 18px;
  --text-xs: 14px;
}
